#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |         
            h4#myModalLabel.modal-title Create a Channel
          |       
          .modal-body
            p
              label Channel Name
            input
          |       
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            |         
            button.btn.btn-primary(type='button') Save
